<%= javascript_pack_tag 'measurement_server_performance' %>

<% available_isps.each do |isp| %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Measurement client performance -
    <%= isp %>
  </h1>
</div>
<div class='dashboard_chart measurement_server_performance_chart' data-isp="<%= isp %>"></div>
<br />
<br />
<br />
<br />
<% end %>
