<%= javascript_pack_tag 'rolling_averages_three_months' %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Rolling averages from last 3 months</h1>
</div>
<div id='rolling_averages_three_months' class='dashboard_chart'></div>

<%= javascript_pack_tag 'raw_three_months' %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Raw data from last 3 months</h1>
</div>
<div id='raw_three_months' class='dashboard_chart'></div>

<%= javascript_pack_tag 'time_of_day' %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Time of day</h1>
</div>
<div id='time_of_day' class='dashboard_chart'></div>
